<main>
  <%= content_tag(:canvas, '', data: { controller: 'ants-threejs' }) %>
  <div class="text-group">
    <h1>アリンコ一人称</h1>
    <%= content_tag(:div, '', id: 'userName') %>
    <div class="button-group d-flex justify-content-around text-center mb-2">
      <div id="cross-key" class="d-flex flex-column">
        <div id="key-w" class="keybord mx-auto">W</div>
        <div class="key-ad d-flex justify-content-between mx-auto">
          <div id="key-a" class="keybord">A</div>
          <div id="key-d" class="keybord">D</div>
        </div>
        <div id="key-s" class="keybord mx-auto">S</div>
    </div>
      <div id="bullet-key">
        <div id="key-like" class="bullet-button">餌発射</div>
      </div>
    </div>
  </div>
</main>
